/****************MEDIA QUERY***************/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@media screen and (max-width: 950px) {
  body main .juegos3 {
    grid-template-columns: repeat(3, 1fr); }
  body main .juegos3 div {
    font-size: 13px; }
  body main .juegosofertas3 .h3h4a {
    font-size: 10px; }
  body main .titulodeofertas h2 {
    font-size: 40px; } }

@media screen and (max-width: 650px) {
  body main .bienvenidos {
    font-size: 30px; }
  body main .juegos3 {
    grid-template-columns: repeat(2, 1fr); }
  body main .juegos3 div {
    font-size: 15px; }
  body main .juegodelacontainer .juegodela a {
    font-size: 25px; }
  body header .hero h1 {
    font-size: 55px; }
  body header nav ul {
    margin: 50px;
    font-size: 20px; }
  iframe {
    width: 450px;
    height: 275px; }
  body main .carousel {
    padding: 0; }
  body main .juegosofertas3 {
    grid-template-columns: repeat(2, 1fr); }
  body main .tituloform h2 {
    font-size: 40px; }
  body main .maincontact h2 {
    font-size: 30px; }
  body main .maincontact label {
    font-size: 25px; } }

@media screen and (max-width: 530px) {
  body header .hero h1 {
    font-size: 55px; }
  body header nav ul {
    margin: 50px; }
  body main .juegos3 div {
    font-size: 10px; }
  body main .juegodelacontainer .juegodela a {
    font-size: 20px; }
  iframe {
    width: 300px;
    height: 250px; }
  body main .titulodeofertas h2 {
    font-size: 30px; }
  body main .juegos3 div {
    font-size: 8px; }
  body main .container .row .col h3 {
    font-size: 15px; }
  body main .container .row .col p {
    font-size: 10px;
    margin: 0%; } }

@media screen and (max-width: 450px) {
  body main .bienvenidos {
    font-size: 20px; }
  body header {
    height: 130px; }
  body header nav ul {
    font-size: 15px;
    margin: 50px; }
  body header .hero h1 {
    font-size: 40px; }
  body main .juegodelacontainer .juegodela a {
    font-size: 15px; }
  body main .juegodelacontainer .titulovideo h3 {
    font-size: 15px; }
  iframe {
    width: 250px;
    height: 200px; }
  body main .juegosofertas3 .h3h4a {
    font-size: 7px; }
  body main .titulodeofertas h2 {
    font-size: 25px; }
  body main .container .row .col h2 {
    font-size: 10px; }
  body main .container .row .col p {
    font-size: 7px; }
  body main .maincontact label {
    font-size: 20px; }
  body main .maincontact select {
    inline-size: 250px; } }

/*!-------------------------GENERALES--------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: aaa;
  src: url(../fonts/7theb-webfont.woff2); }

@font-face {
  font-family: ddd;
  src: url(../fonts/fonderian-blackstencil-webfont.woff2); }

@font-face {
  font-family: sss;
  src: url(../fonts/lldisco_-webfont.woff2); }

@font-face {
  font-family: headerfont;
  src: url(../fonts/Montserrat-Light-Alt1.woff2); }

header {
  background-image: url(../img/fondonuevo4.png);
  background-repeat: no-repeat;
  background-size: cover; }
  header nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }

main {
  background-image: url(../img/fondogris2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px; }
  main section div a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.43);
    color: white; }
    main section div a:hover {
      background-color: black; }

footer {
  background-image: url(../img/fondonuevo4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px; }

@keyframes slidefromleft {
  from {
    margin-left: 200%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

/*!------------------------PAGINA INDEX--------------------------*/
header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  header .hero {
    text-decoration: none;
    text-align: center;
    font-family: headerfont;
    color: aqua; }
    header .hero h1 {
      font-size: 65px;
      font-weight: bold; }
      header .hero h1:hover {
        color: aqua; }
  header nav {
    width: 1440px; }
    header nav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 30px;
      align-items: flex-start;
      font-size: 25px;
      font-family: 'Roboto Condensed', sans-serif;
      padding-left: 0%; }
      header nav ul a {
        text-decoration: none;
        color: #cae3ea; }
        header nav ul a:hover {
          color: aqua; }

main .bienvenidos {
  font-family: sss;
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0 0 10px #FFFFFF;
  color: #FFFFFF;
  background: #232323;
  animation-name: slidefromleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

main .juegos3 {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; }
  main .juegos3 div {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.497);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 50px;
    padding: 3px;
    transition: 1s; }
    main .juegos3 div:hover {
      background-color: #08d6ff;
      transform: scale(1.1); }
    main .juegos3 div img {
      width: 100%;
      height: 65%;
      object-fit: cover; }

main .juegodelacontainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.378);
  padding: 10px;
  margin: 10px; }
  main .juegodelacontainer .juegodela .titulovideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: yellow; }
  main .juegodelacontainer .juegodela a {
    font-family: sss;
    font-size: 35px;
    text-decoration: none;
    color: aqua; }
  main .juegodelacontainer .juegodela span {
    color: yellow; }

.carrito {
  position: fixed;
  right: 0%;
  top: 50%;
  border: 4px solid black;
  border-radius: 100%;
  background-color: rgba(7, 171, 182, 0.69);
  font-size: 20px;
  padding: 5px;
  box-shadow: 1px -1px 29px 0px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: 1px -1px 29px 0px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 1px -1px 29px 0px rgba(0, 0, 0, 0.78); }
  .carrito:hover {
    background-color: aqua; }
  .carrito a {
    text-decoration: none; }

footer ul {
  padding-left: 0%; }
  footer ul li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
    footer ul li a:hover {
      color: #37dfce; }

footer div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

/*!---------------------PAGINA CATEGORIAS------------------------*/
main .titulocat {
  font-family: sss;
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  background: #912C22;
  text-shadow: 0 0 10px #FFFFFF;
  color: #FFFFFF;
  background: #232323;
  animation-name: slidefromleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

main .dropdown button {
  background: none;
  border: none;
  font-size: 25px; }

main .juegoscat3 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 100px; }
  main .juegoscat3 div {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.497);
    text-decoration: none;
    padding: 3px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    transition: 1s; }
    main .juegoscat3 div:hover {
      background-color: #bd1313;
      transform: scale(1.1); }
    main .juegoscat3 div h3, main .juegoscat3 div a:hover {
      color: white; }

main .carousel {
  margin-top: 100px;
  padding: 100px; }

main .paginas {
  display: flex;
  justify-content: center; }

/*!--------------------PAGINA OFERTAS--------------------------*/
main .titulodeofertas {
  font-family: sss;
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  background: #912C22;
  text-shadow: 0 0 10px #FFFFFF;
  color: #FFFFFF;
  background: #232323;
  animation-name: slidefromleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

main .juegosofertas3 {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px; }
  main .juegosofertas3 div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.497);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 50px;
    padding: 3px;
    transition: 1s; }
    main .juegosofertas3 div img {
      width: 100%;
      height: 65%; }
    main .juegosofertas3 div:hover {
      background-color: #2d9d2d;
      transform: scale(1.1); }
    main .juegosofertas3 div span {
      color: #F00; }

/*!-------------------------PAGINA FAQ--------------------------*/
main .titulofaq {
  font-family: sss;
  text-align: center;
  color: #FFFFFF;
  background: #912C22;
  text-shadow: 0 0 10px #FFFFFF;
  color: #FFFFFF;
  background: #232323;
  animation-name: slidefromleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

main section .col {
  border: 2px solid aqua;
  text-align: center;
  padding: 10px;
  margin: 20px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.727);
  color: rgba(0, 255, 255, 0.699);
  font-size: 25px; }
  main section .col:hover {
    background-color: black; }
  main section .col p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgba(237, 226, 226, 0.84);
    margin: 10px; }
    main section .col p a:hover {
      color: aqua; }
    main section .col p .regalofaq {
      background-color: black; }
      main section .col p .regalofaq:hover {
        background-color: #3f3939;
        color: white; }

/*!---------------------PAGINA CONTACTENOS-----------------------*/
main .tituloform {
  font-family: sss;
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  background: #912C22;
  text-shadow: 0 0 10px #FFFFFF;
  color: #FFFFFF;
  background: #232323;
  border: #058a9e 3px solid;
  animation-name: slidefromleft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

main .maincontact {
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(0, 0, 0, 0.523);
  text-align: center;
  font-size: 32px; }
  main .maincontact select {
    block-size: 30px; }
