/* *{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box ;
} 

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@font-face{
    font-family: aaa;
    src: url(../fonts/7theb-webfont.woff2);
}

@font-face{
    font-family: ddd;
    src: url(../fonts/fonderian-blackstencil-webfont.woff2);
}

@font-face{
    font-family: sss;
    src: url(../fonts/lldisco_-webfont.woff2);
}

@font-face{
    font-family: headerfont;
    src: url(../fonts/Montserrat-Light-Alt1.woff2);
}

body header{
    background-image: url(../img/fondonuevo4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body main{
    background-image: url(../img/fondogris2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


body footer{
    background-image: url(../img/fondonuevo4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    padding: 20px;
}


nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


@keyframes slidefromleft {
    from{
        margin-left: 200%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
} */


/*!------------------------PAGINA INDEX--------------------------*/



/* .hero{
    text-decoration: none;
    text-align: center;
    font-family: headerfont;
    color: aqua;
}
.hero h1{
    font-size: 65px;
    font-weight: bold;
}
.hero h1:hover{
    color: aqua;
} */

/* header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

/* header nav{
        width: 1440px;
} */

/* header nav ul a{
    text-decoration: none; 
    color: aliceblue;  
} */
/* header nav ul a:hover{
    color: #37dfce;
}
 */
/* header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 30px;
    align-items: flex-start;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
} */

/* .bienvenidos{
    font-family: sss;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
    color: #FFFFFF;
    background: #232323;

    animation-name: slidefromleft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
} */

/* .juegos3{
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
} */

/* .juegos3 div{
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.497);
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 50px;
    padding: 3px;
    transition: 1s;
} */

/* .juegos3 div:hover{
    background-color: rgb(8, 214, 255);
    transform: scale(1.1);
}
 */
/* .juegos3 div img{
    width: 100%;
    height: 65%;
    object-fit: cover;
} */

/* main section div a{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.43);
    color: white;
} */

/* .juegodelacontainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.378);
    padding: 10px;
    margin: 10px;
} */

/* .juegodela a{
    font-family: sss;
    font-size: 35px;
    text-decoration: none;
    color: aqua;
}

.juegodela span{
    color: yellow;
} */

/* .titulovideo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: yellow;
} */



/* footer ul li a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
} */

/* footer ul li a:hover{
    color: #37dfce;
} */

/* footer div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */


/* .carrito{
    position: fixed;
    right: 0%;
    top: 50%;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 100%;
    background-color: rgba(7, 171, 182, 0.69);
    font-size: 20px;
    padding: 5px;
    box-shadow: 1px -1px 29px 0px rgba(0,0,0,0.78);
    -webkit-box-shadow: 1px -1px 29px 0px rgba(0,0,0,0.78);
    -moz-box-shadow: 1px -1px 29px 0px rgba(0,0,0,0.78);
} */

/* .carrito a{
    text-decoration: none;
}

.carrito:hover{
    background-color: aqua;
} */

/****************MEDIA QUERY***************/



/* @media screen and (max-width:950px){
    .juegos3{
        grid-template-columns: repeat(3, 1fr);
    }
    .juegos3 div{
        font-size: 13px;
    }

    .juegosofertas3 .h3h4a{
        font-size: 10px;
    }
    .titulodeofertas h2{
        font-size: 40px;
    }
    .titulofaq h2{
        font-size: 40px;
    }
}

@media screen and (max-width:650px){
    .bienvenidos{
        font-size: 30px;
    }
    .juegos3{
        grid-template-columns: repeat(2, 1fr);
    }
    .juegos3 div{
        font-size: 15px;
    }
    .hero h1{
        font-size: 65px;
    }
    .juegodela a{
        font-size: 25px;
    }
    .hero h1{
        font-size: 55px;
    }
    header nav ul {
        margin: 50px;
        font-size: 20px;
    }
    iframe{
        width: 450px;
        height: 275px;
    }
    main .juegosofertas3{
        grid-template-columns: repeat(2, 1fr);
    }
    .tituloform h2{
        font-size: 40px;
    }
    .maincontact h2{
        font-size: 30px;
    }
    .maincontact label{
        font-size: 25px;
    }
}

@media screen and (max-width:530px){
    .hero h1{
        font-size: 55px;
    }
    header nav ul{
        margin: 50px;
    }
    .juegos3 div{
        font-size: 10px;
    }
    .juegodela a{
        font-size: 20px;
    }
    iframe{
        width: 300px;
        height: 250px;
    }
    .titulodeofertas h2{
        font-size: 30px;
    }
    .titulofaq h2{
        font-size: 30px;
    }
    .faqsec h2{
        font-size: 25px;
    }
    .faqsec p{
        font-size: 15px;
    }
    .juegos3 div{
        font-size: 8px;
    }
    section .container .col h3{
        font-size: 15px;
    }
    section .container .col p{
        font-size: 10px;
        margin: 0%;
    }
}

@media screen and (max-width:450px) {
    .bienvenidos{
        font-size: 20px;
    }
    header{
        height: 130px;
    }
    header nav ul{
        font-size: 15px;
        margin: 50px;
    }
    .hero h1{
        font-size: 40px;
    }
    .juegodela a{
        font-size: 15px;
    }
    .titulovideo h3{
        font-size: 15px;
    }
    iframe{
        width: 250px;
        height: 200px;
    }
    .juegosofertas3 .h3h4a{
        font-size: 7px;
    }
    .titulodeofertas h2{
        font-size: 25px;
    }
    .titulofaq h2{
        font-size: 25px;
    }
    .faqsec h2{
        font-size: 20px;
    }
    .faqsec p{
        font-size: 10px;
    }
    .maincontact label{
        font-size: 20px;
    }
    .maincontact select{
        inline-size: 250px;
    }
    section .container .col p{
        font-size: 7px;
        margin: 5px;
    }
    section .container .col h3{
        font-size: 10px;
    }
} */


/*!---------------------PAGINA CATEGORIAS------------------------*/

main{
    padding: 30px;
}


.dropdown button{
    background: none;
    border: none;
    font-size: 25px;
}


main .titulocat{
    font-family: sss;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    background: #912C22;
    text-shadow: 0 0 10px #FFFFFF;
    color: #FFFFFF;
    background: #232323;

    animation-name: slidefromleft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.juegoscat3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.juegoscat3 div{
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.497);
    text-decoration: none;
    padding: 3px;
    margin: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: 1s;
}

.juegoscat3 div:hover{
    background-color: rgb(189, 19, 19);
    transform:scale(1.1);
}

.juegocat3 div h3,a:hover{
    color: white;
}

main section div a{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.43);
    color: white;
}




main .paginas{
    display: flex;
    justify-content: center;
}



/*!--------------------PAGINA OFERTAS--------------------------*/


.titulodeofertas{
    font-family: sss;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    background: #912C22;
    text-shadow: 0 0 10px #FFFFFF;
    color: #FFFFFF;
    background: #232323;

    animation-name: slidefromleft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}



.juegosofertas3{
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.juegosofertas3 div{  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.497);
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 50px;
    padding: 3px;
    transition: 1s;
}



.juegosofertas3 div img{
    width: 100%;
    height: 65%;
}


.juegosofertas3 div:hover{
    background-color: rgb(45, 157, 45);
    transform: scale(1.1)
}

.juegosofertas3 span{
    color: #F00;
}


main section div a{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.43);
    color: white;
}

main section div a:hover{
    background-color: rgb(0, 0, 0);
}




/*!-------------------------PAGINA FAQ--------------------------*/

.titulofaq{
    font-family: sss;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    background: #912C22;
    text-shadow: 0 0 10px #FFFFFF;
    color: #FFFFFF;
    background: #232323;

    animation-name: slidefromleft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}



section .col{
    border: 2px solid aqua;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.727);
    color: rgba(0, 255, 255, 0.699);
    font-size: 25px;
}

section .col p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgba(237, 226, 226, 0.84);
    margin: 10px;
}

section .col:hover{
    background-color: rgb(0, 0, 0);
}







/*!---------------------PAGINA CONTACTENOS-----------------------*/

.tituloform{
    font-family: sss;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    background: #912C22;
    text-shadow: 0 0 10px #FFFFFF;
    color: #FFFFFF;
    background: #232323;
    border: #058a9e 3px solid;

    animation-name: slidefromleft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.maincontact{
    text-align: center;
    font-size: 32px;
}

.maincontact h1{
    color: aqua;
    font-family: sss;
    font-size: 70px;
    background-color: rgba(0, 0, 0, 0.903);
}

.maincontact{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.523);
}

.maincontact select{
    block-size: 30px;
}
