


/*!-------------------------GENERALES--------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
} 

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@font-face{
    font-family: aaa;
    src: url(../fonts/7theb-webfont.woff2);
}

@font-face{
    font-family: ddd;
    src: url(../fonts/fonderian-blackstencil-webfont.woff2);
}

@font-face{
    font-family: sss;
    src: url(../fonts/lldisco_-webfont.woff2);
}

@font-face{
    font-family: headerfont;
    src: url(../fonts/Montserrat-Light-Alt1.woff2);
}

header{
    background-image: url(../img/fondonuevo4.png);
    background-repeat: no-repeat;
    background-size: cover;
    nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
main{
        background-image: url(../img/fondogris2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px;
        section{
            div{
                a{
                    text-decoration: none;
                    background-color: rgba(0, 0, 0, 0.43);
                    color: white;
                    &:hover{
                        background-color: rgb(0, 0, 0);
                    }
                }
            }
        }
    }
footer{
        background-image: url(../img/fondonuevo4.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
    }



@keyframes slidefromleft {
    from{
        margin-left: 200%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}