


/****************MEDIA QUERY***************/



@media screen and (max-width:950px){
    body main .juegos3{
        grid-template-columns: repeat(3, 1fr);
    }
    body main .juegos3 div{
        font-size: 13px;
    }

    body main .juegosofertas3 .h3h4a{
        font-size: 10px;
    }
    body main .titulodeofertas h2{
        font-size: 40px;
    }
}

@media screen and (max-width:650px){
    body main .bienvenidos{
        font-size: 30px;
    }
    body main .juegos3{
        grid-template-columns: repeat(2, 1fr);
    }
    body main .juegos3 div{
        font-size: 15px;
    }
    body main .juegodelacontainer .juegodela a{
        font-size: 25px;
    }
    body header .hero h1{
        font-size: 55px;
    }
    body header nav ul {
        margin: 50px;
        font-size: 20px;
    }
    iframe{
        width: 450px;
        height: 275px;
    }
    body main .carousel{
        padding: 0;
    }
    body main .juegosofertas3{
        grid-template-columns: repeat(2, 1fr);
    }
    body main .tituloform h2{
        font-size: 40px;
    }
    body main .maincontact h2{
        font-size: 30px;
    }
    body main .maincontact label{
        font-size: 25px;
    }
}

@media screen and (max-width:530px){
    body header .hero h1{
        font-size: 55px;
    }
    body header nav ul{
        margin: 50px;
    }
    body main .juegos3 div{
        font-size: 10px;
    }
    body main .juegodelacontainer .juegodela a{
        font-size: 20px;
    }
    iframe{
        width: 300px;
        height: 250px;
    }
    body main .titulodeofertas h2{
        font-size: 30px;
    }
    body main .juegos3 div{
        font-size: 8px;
    }
    body main .container .row .col h3{
        font-size: 15px;
    }
    body main .container .row .col p{
        font-size: 10px;
        margin: 0%;
    }
}

@media screen and (max-width:450px) {
    body main .bienvenidos{
        font-size: 20px;
    }
    body header{
        height: 130px;
    }
    body header nav ul{
        font-size: 15px;
        margin: 50px;
    }
    body header .hero h1{
        font-size: 40px;
    }
    body main .juegodelacontainer .juegodela a{
        font-size: 15px;
    }
    body main .juegodelacontainer .titulovideo h3{
        font-size: 15px;
    }
    iframe{
        width: 250px;
        height: 200px;
    }
    body main .juegosofertas3 .h3h4a{
        font-size: 7px;
    }
    body main .titulodeofertas h2{
        font-size: 25px;
    }
    body main .container .row .col h2{
        font-size: 10px;
    }
    body main .container .row .col p{
        font-size: 7px;
    }
    body main .maincontact label{
        font-size: 20px;
    }
    body main .maincontact select{
        inline-size: 250px;
    }
}